@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./styles/fonts";

* {
  font-family: "Poppins", serif;
}

.hideScrollBar {
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

.clip-left {
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
}

.clip-right {
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
}


.react-datepicker__day--selected {
  background-color: #FFCC29 !important;
}

// /* Scrollbar for horizontal scrolling */
// ::-webkit-scrollbar:ver {
//   height: 8px; /* Adjust height */
// }

// /* Scrollbar thumb (draggable part) */
// ::-webkit-scrollbar-thumb:ver {
//   background: #ffcc29; /* Change to your preferred color */
//   border-radius: 10px;
// }

// /* Scrollbar track (background) */
// ::-webkit-scrollbar-track:ver {
//   background: #f1f1f1;
// }

// * {
//   scrollbar-width: thin;
//   scrollbar-color: #ffcc29 #f1f1f1;
// }


/* Make horizontal scrollbar thinner */
::-webkit-scrollbar:horizontal {
  height: 4px; /* Adjust the height to make it thin */
}

/* Scrollbar thumb (draggable part) */
::-webkit-scrollbar-thumb:horizontal {
  background: #f1f1f1; /* Change to your preferred color */
  border-radius: 10px;
}

/* Scrollbar track (background) */
::-webkit-scrollbar-track:horizontal {
  background: #f1f1f1;
}


* {
  scrollbar-width: thin;
  scrollbar-color: #f1f1f1 #f1f1f1;
}
